@media (max-width:576px){

    /* home */
    /* HERO SECTION */

    #heroSection{
        min-height: 140vh;
    }

    #bgImage{
        min-height: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    #heroContent{
        width: 92%;
        flex-direction: column;
        gap: 40px;
        top: 52%;
    }

    /* NAVBAR */

    #navbar{
        padding: 15px 18px;
    }

    #logoSection{
        gap: 8px;
    }

    #logoIcon{
        font-size: 20px;
    }

    #logoHeading{
        font-size: 13px;
    }

    #logoText{
        font-size: 9px;
    }

    #navLinks{
        gap: 12px;
    }

    #navLinks a{
        font-size: 11px;
    }

    #applyBtn{
        padding: 10px 12px;
        font-size: 10px;
        border-radius: 7px;
    }

    /* LEFT HERO */

    #leftHero{
        width: 100%;
    }

    #heroHeading{
        font-size: 37px;
        line-height: 68px;
        margin-top: 120px;
        padding-left: 40px;
    }

    #brandText{
        font-size: 49px;
    }

    #curveLine{
        width: 120px;
        margin-left: 200px;
        margin-top: -15px;
    }

    #heroParagraph{
        width: 100%;
        font-size: 16px;
        line-height: 30px;
        margin-top: 25px;
    }

    /* BUTTONS */

    #heroButtons{
        flex-wrap: wrap;
        gap: 14px;
    }

    #sponsorBtn,
    #exploreBtn{
        padding: 14px 22px;
        font-size: 14px;
    }

    /* TRUST */

    #trustBox{
        flex-wrap: wrap;
        gap: 15px;
    }

    #trustImages img{
        width: 42px;
        height: 42px;
    }

    /* RIGHT HERO */

    #rightHero{
        width: 100%;
        padding: 25px;
        transform: skew(0deg);
    }

    .featureBox{
        gap: 18px;
        transform: skew(0deg);
    }

    .featureIcon{
        width: 55px;
        height: 55px;
        font-size: 20px;
        flex-shrink: 0;
    }
.featureBox h2{
    font-size: 26px;
    line-height: 32px;
    font-weight: 600;
    margin-bottom: 6px;
}

.featureBox p{
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
}

.featureIcon{
    width: 50px;
    height: 50px;
    font-size: 18px;
}

#statsSection{
    flex-direction: column;
    gap: 35px;
    padding: 35px 20px;
}

.statsCard h1{
    font-size: 38px;
}

.statsCard p{
    font-size: 15px;
    margin-top: 8px;
}

.statsCard i{
    font-size: 30px;
    margin-bottom: 12px;
}

#whySection{
    flex-direction: column;
    padding: 70px 25px;
    gap: 40px;
}

#whyLeft{
    width: 100%;
}

#whyLeft h1{
    font-size: 52px;
    line-height: 65px;
}

#whyLeft p{
    line-height: 30px;
}

#whyRight{
    width: 100%;
    flex-direction: column;
}

.whyCard{
    width: 100%;
}

#stepsSection{
    padding: 70px 25px;
}

#stepsSection h1{
    font-size: 52px;
    line-height: 65px;
}

#stepsContainer{
    flex-direction: column;
    gap: 50px;
    margin-top: 50px;
}

.stepCard{
    width: 100%;
}

.stepCard h2{
    font-size: 52px;
}

.stepCard i{
    font-size: 42px;
    margin: 18px 0;
}

.stepCard h3{
    font-size: 28px;
    margin-bottom: 12px;
}

.stepCard p{
    font-size: 16px;
    line-height: 28px;
}

#ctaSection{
    margin-left: 30px;
    margin-right: 130px;
}
#ctaBtn{
    margin-left: 10px;
}



/* events */

#navbar{
    padding: 15px 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
#logoSection h2{
    font-size: 13px;
    line-height: 20px;
}

#logoSection p{
    font-size: 9px;
    line-height: 14px;
}

#navLinks a{
    font-size: 11px;
}

#navButton{
    padding: 11px 14px;
    font-size: 10px;
    line-height: 14px;
}
#eventsHeroSection{
    height: 500px;
}
#heroText{
    margin-top: 50px;
    padding: 0 18px;
}

#heroText h1{
    font-size: 64px;
    line-height: 78px;
}

#heroText span{
    font-size: 70px;
}

#heroText p{
    margin-top: 18px;
    font-size: 16px;
    line-height: 30px;
}

#featuredEventSection{
    padding: 40px 20px;
}

#featuredCard{
    flex-direction: column;
    gap: 25px;
    padding: 20px;
}

#featuredImage img{
    width: 100%;
    border-radius: 18px;
}

#featuredContent h1{
    font-size: 42px;
    line-height: 52px;
}

#featuredContent p{
    line-height: 28px;
}

#eventDetails{
    flex-direction: column;
    gap: 15px;
}

#eventStats{
    gap: 25px;
    flex-wrap: wrap;
}

#smallEventsSection{
    flex-direction: column;
    padding: 0 20px 50px 20px;
    gap: 25px;
}

.smallCard{
    width: 100%;
}

.smallCard img{
    height: 220px;
}

.smallContent{
    padding: 22px;
}

.smallContent h2{
    font-size: 34px;
    line-height: 42px;
}

.smallContent p{
    line-height: 30px;
}

.smallDetails{
    margin-top: 18px;
}

#brandsSection{
    padding: 60px 20px;
}

#brandsSection h1{
    font-size: 52px;
    line-height: 65px;
}

#brandsSection span{
    font-size: 60px;
}

#brandBoxes{
    flex-direction: column;
    gap: 22px;
    margin-top: 40px;
}

.brandCard{
    width: 100%;
    padding: 30px 22px;
}

.brandCard i{
    font-size: 38px;
}

.brandCard h3{
    font-size: 30px;
    line-height: 38px;
}

.brandCard p{
    margin-top: 12px;
    line-height: 28px;
}

#ctaBtn{
    padding: 20px;
    margin-left: -20px;
    margin-bottom: 100px;
}


/* about */

#navbar{
    padding: 18px 20px;
    gap: 12px;
}

#logo{
    font-size: 20px;
}

#logo p{
    font-size: 10px;
    margin-top: 2px;
}

#navLinks{
    gap: 18px;
}

#navLinks a{
    font-size: 11px;
}

#navBtn{
    padding: 12px 26px;
    font-size: 13px;
}

#quoteSection{
    padding: 10px 20px 40px;
}

#quoteSection h2{
    font-size: 30px;
    line-height: 48px;
}

/* registration */

#Rnavbar{
    padding: 15px 20px;
    flex-direction: column;
    gap: 12px;
}

#logo{
    font-size: 20px;
    text-align: center;
}

#logo p{
    font-size: 10px;
    margin-top: 2px;
}

#navLinks{
    gap: 18px;
}

#navLinks a{
    font-size: 11px;
}

#navBtn{
    padding: 10px 22px;
    font-size: 13px;
    border-radius: 10px;
}
}


@media (max-width: 400px){

/* home */
    #bgImage{
        top: 0;
        left: 0;
        height: 1250px;
    }

     #navbar{
        flex-direction: column;
        gap: 10px;
        padding: 15px;
    }

    #navLinks{
        gap: 12px;
        flex-wrap: wrap;
        justify-content: center;
    }

    #navButton{
        width: 170px;
        font-size: 14px;
        padding: 10px;
    }

  
#ctaSection{
    padding: 40px 25px;
}

#ctaSection h1{
    font-size: 2rem;
    line-height: 1.2;
}

#ctaSection p{
    font-size: 1rem;
    line-height: 1.6;
}
#ctaBtn{
    margin-left: 5px;
}
    
#heroContent{
    margin-bottom: 140px;
}

#heroHeading{
    font-size: 2rem;
    line-height: 1.2;
    margin-top: 350px;
}
#rightHero{
    margin-bottom: 40px;
}
#statsSection{
    margin-top: 115px;
}
#stepsSection h1 {
    font-size: 46px;
    line-height: 65px;
}

    /* about */
        #navbar{
        position: relative;
        z-index: 10;
        margin-bottom: -35px;
    }

    #heroSection{
        padding-top: 40px;
    }

    .heroLeft h1{
        font-size: 3rem;
        line-height: 1.2;
    }

    .heroLeft p{
        font-size: 1rem;
        line-height: 1.8;
    }

      #quoteSection h2{
        font-size: 2rem;
        line-height: 1.4;
    }

    /* events */
    .EBgImage{
        height: 100% !important;
    }
    #ctaSectionHeading{
        font-size: 25px !important;
    }
    .ECtaBtn{
        margin-left: -3px !important;
    }

    #aboutContent{
        margin-top: 200px;
    }
}
